<!--{% extends 'base.html' %}-->
<!--{% block content %}-->

<!--<audio controls>-->
<!--    <source src = ' {{ url }} '> Songs-->
<!--</audio>}-->

<!--&lt;!&ndash;<form method="post" action="/songs/song_list.html">&ndash;&gt;-->
<!--&lt;!&ndash;    {% csrf_token %}&ndash;&gt;-->
<!--&lt;!&ndash;        <input style="visibility: hidden" name = 'radio_url' id = 'radio_url' value='{{ url }}'>&ndash;&gt;-->
<!--&lt;!&ndash;        <button class="btn btn-success" name="buton" id = "buton1">Radio</button>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->

<!--{% endblock %}-->