{% extends 'base.html' %}
{% block content %}
<a class="btn btn-success" href="{% url 'logout' %}">Logout</a>
<a class="btn btn-success" href="{% url 'songs:song_list' %}">Inapoi</a>
    <table class="table">
    <thead>
    <tr>
        <th>Play</th>
        <th>Name</th>
        <th>Album</th>
        <th>Artist</th>
        <th>Sterge</th>
    </tr>
    </thead>
    <tbody>
    {% for row in mysongs_list %}
        <tr>
            {% load strip_quotes %}
            {% with row.comp_path|stripq:"\"" as line %}
            <td><audio controls>
                <source src= 'media/{{ line }}' type="audio/mp4">
                    Your browser does not support the audio element.
                </audio>
            </td>
            {% endwith %}
            {% load song_values %}
            {% with row.comp_path|spliting:"\\" as melodies %}
               {% for mels in melodies %}
                    {% with mels|stripq:"\"" as mel %}
                        <td>{{ mel }}</td>
                    {% endwith %}
               {% endfor %}
            {% endwith %}
            <td><form method="post" action="/supervisor/views1/sterge_mel/">
                    {% csrf_token %}
                        <input style="visibility: hidden" name = 'legatura3' id = 'legatura3' value='{{ row.id }}'>
                        <button class="btn btn-success" name="buton" id = "buton1">Sterge melodie</button>
            </form></td>
        </tr>
    {% endfor %}

    </tbody>
    </table>

{% endblock %}
