{% extends 'base.html' %}
{% block content %}

<!--    <script>-->
<!--           window.onload = function() {-->
<!--                alert('hello!');-->
<!--                myAudio=document.getElementsByTagName('audio');-->

<!--                for (i = 1; i < myAudio.length; i++) {-->
<!--                    myAudio[i].pause();-->
<!--                    myAudio[i].currentTime = 0; }-->

<!--&lt;!&ndash;                    muzica = myAudio[0];&ndash;&gt;-->
<!--&lt;!&ndash;                    muzica.play();&ndash;&gt;-->
<!--                }-->
<!--       </script>-->

<!--    <div>-->
    <div>
    <a class="btn btn-success" href="{% url 'songs:radio' %}">Play Radio</a>
    <a class="btn btn-success" href="{% url 'songs:song_list' %}">Inapoi</a>
    <a class="btn btn-success" href="{% url 'logout' %}">Logout</a>
    <a class="btn btn-success" href="{% url 'songs:sterge_final' %}">Sterge User</a>
    </div>
    <br />
    {% include "main.html" %}
    <table class="table">
    <thead>
    <tr>
        <th>Play</th>
        <th>Name</th>
        <th>Album</th>
        <th>Artist</th>
        <th style="width: 30%; text-align: center">Sterge</th>
    </tr>
    </thead>
    <tbody>
    <tr><td>
    <audio controls>
        <source src = " {{ url }} ">
    </audio>
    </td>
        <td><h6>{{ name }} {{ country }}</h6></td>
    </tr>
    {% for row in music_list %}
    {% for user in user_list %}
    {% for item in mel_list %}
    {% if usr_id == user.id and item.user_id == user.id and row.id == item.mysongs_id %}
            <tr>
                {% load strip_quotes %}
                {% with row.comp_path|stripq:"\"" as line %}
                <td><audio controls>
                    <source src = 'media/{{ line }}' type="audio/mp4">
                        Your browser does not support the audio element.
                    </audio>
                </td>
                {% endwith %}
                {% load song_values %}
                {% with row.comp_path|spliting:"\\" as melodies %}
                   {% for mels in melodies %}
                        {% with mels|stripq:"\"" as mel %}
                            <td>{{ mel }}</td>
                        {% endwith %}
                   {% endfor %}
                {% endwith %}
                <td><form method="post" action="/songs/sterge_mel.html">
                    {% csrf_token %}
                        <input style="visibility: hidden" name = 'legatura' id = 'legatura' value='{{ item.id }}'>
                        <button class="btn btn-success" name="buton" id = "buton1">Sterge melodii</button>
                </form></td>
            </tr>
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
