<!--<html>-->
<!--<head>-->
<!--    <title>MyMusic</title>-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">-->
<!--</head>-->
<!--<body>-->
<div>
    <form name="myform" method="GET" action="{% url 'songs:search' %}">
        <input type="text" id = 'search_name' name="search_name" value="Name" />
        <input type="text" id = 'search_album' name="search_album" value="Album" />
        <input type="text" id = 'search_artist' name="search_artist" value="Artist" />
        <button class="btn btn-success">Cautare Melodie</button>
    </form>
</div>
<!--</body>-->
<!--</html>-->