{% extends 'base.html' %}
{% block content %}
   <table class="table">
    <thead>
    <tr>
        <th>Play</th>
        <th>Name</th>
        <th>Album</th>
        <th>Artist</th>
        <th style="width: 30%">Get Song</th>
    </tr>
    </thead>
    <tbody>
    <a class="btn btn-success" href="{% url 'songs:song_list' %}">Inapoi</a>
    {% for row in music_list %}
            <td><audio controls>
                <source src = 'media/{{ row.artist }}/{{ row.album }}/{{ row.name }}' type="audio/mp4">
                    Your browser does not support the audio element.
                </audio>
            </td>
            <td>{{ row.name }}</td>
            <td>{{ row.album }}</td>
            <td>{{ row.artist }}</td>
            <td>
                <a class="btn btn-success" href="{% url 'userprofile:adauga_melodie' pk1=row.id pk2=usr_id %}">Add</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
   </table>
{% endblock %}

