{% extends 'base.html' %}
{% block content %}
     <div class="col-md-12">
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {% for field in form %}
                <div class="col-md-6">
                    <label style="width: 120px;">{{ field.label }}:</label> {{ field }} {{ field.errors }}
                </div><br>
            {% endfor %}
            <button type="submit" class="btn btn-success">Salveaza</button>
        </form>
    </div>
{% endblock %}

<form>
        <a href="{% url 'songs:adaugare' item.id %}" class="btn btn-success">Adaugare cantec</a>
        <p>Session Name: <input type="text" name="session"></p>
        <p>Source: <input type="file" name="source"/></p>
        <p>Target: <input type="text" name="target"/></p>
        <input type="button" name="value" value="Save">
        <input type="button" name="Cancel" value="Cancel" onclick="window.location = 'forms.html' " />
</form>